**/bin/
**/obj/
**/out/
**/TestResults/

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.git/
.gitignore

.dockerignore
Dockerfile*
docker-compose*

README.md
*.md

logs/
*.log

node_modules/
npm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage/
*.coverage
*.coveragexml

.idea/
*.sln.iml

.vscode/

.idea/